#contenirSearch{
    margin: 0 auto;
    width: 1100px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
    & #contenirGit{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 99%;
        height: 600px;

        & #imgId{
            margin: 25px;
            width: 250px;
            height: 250px;
            background-color: white;
            float: left;
        }
        & #pName,#pSurName{
            width: 360px;
            height: 30px;
            background: white;
            margin-left: 25px;
            color: black;
            float: left;
            clear: left;
            padding-top: 10px;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 5px;
        }
        & #contenirData{
            background: white;
            width: 500px;
            height: 450px;
            margin-right: 25px;
            margin-top: 25px;
            float: right;
            clear: right;
        }

    }
    & #searchId{

        width: 800px;
        height: 60px;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 15px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#gitUrl,#blogId,#cityId,#emailId{
    margin-top: 45px;
    width: 450px;
    height: 30px;
    border:1px solid black ;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;

}

#followersId{
    margin-left: 15px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    float: left;

}

#followingId{

    width: 200px;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}